VITE_SUPABASE_URL=https://rgkowhnvhgxsgxintomw.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_676CsTgDVp3lBp9oUwG7-w_YUnoyZxS
VITE_SUPABASE_URL=https://rgkowhnvhgxsgxintomw.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_JIaiqQDrVaqFa6dzfHkfHA_Qwz_5C0x
VITE_SUPABASE_JWKS_URL=https://rgkowhnvhgxsgxintomw.supabase.co/auth/v1/.well-known/jwks.json
VITE_OPEN_METEO_URL=https://api.open-meteo.com

STORMGLASS_API_KEY=06ed0844-70e8-11f1-b82f-0242ac120004-06ed0a1a-70e8-11f1-b82f-0242ac120004

BASE44_API_KEY=f244751424524231883e95663432f9c7
